pypdf==3.5.0
azure-identity==1.13.0b4
--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.4.0a20230509004

#azure-ai-formrecognizer==3.2.1
azure-ai-formrecognizer==3.3.0b1
azure-storage-blob==12.14.1
openai
azure-functions
azure-core
azure-cosmos
openai
numpy
requests
pandas
smart_open
tenacity
redis
tiktoken
azure-storage-file-share
python-dotenv
beautifulsoup4
lxml
azure-ai-textanalytics
flask
flask-socketio
openpyxl
tiktoken
langchain==0.0.139